/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#business_nav {
	float: right;
	margin-right: 2%;
	margin-top: 10px;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
}

.biz-nav-text {
	text-decoration: none;
	font-size: 15px;
	color: #FFF;
}

.nav-biz-mid {
	margin-right: 15px;
	margin-left: 15px;
}

.biz-nav-left {
	margin-left: 15px;
}