/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require_self
 *= require_tree .
 */
 

#business_nav {
	color: #2F2B2D;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	background-color: #FFFFFF;
	width: 100%;
	position: absolute;
	text-align: right;
	top: 0;
	z-index: 2;
	height: 50px;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.10);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.10);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.10);
}

.biz-nav-text {
	text-decoration: none;
	color: #2F2B2D;
}

.biz-nav-text:hover {
	color: #ED7763;
}

.nav-biz-mid {
	margin-right: 25px;
	margin-left: 15px;
}

.biz-nav-left {
	margin-left: 25px;
}

.last-in-list {
	margin-right: 50px;
}

.error-messages {
	color: red;
	background-color: blue;
}
