/**************************
BODY
***************************/

.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.business-profile-container {
  width: 100%;
  height:100%;
  background-image: url("bgimage.jpg");
  background-size: 70%;
  padding-top: 50px;
}

.business-profile-right-pane{
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
}

#special_business_nav {
  color: #2F2B2D;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  background-color: #FFFFFF;
  width: 100%;
  position: absolute;
  text-align: right;
  top: 0;
  z-index: 2;
  height: 60px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.10);
  -moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.10);
  box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.10);
}

#special_business_nav {
  display: none;
}

/**************************************
BUSINESSES DEALS LISTINGS (RIGHT SIDE)
***************************************/

.biz-deals {
  height: 100%;
  position: absolute;
  left: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 50%;
  background-color: #F7F7F7;
}

.biz-name-deals-header {
  text-align: center;

  margin-bottom: 0;
  padding-bottom: 0;
  color: #414141;
}

.header-profile-container {
  padding-top: 20px;
  background-color: #FFF;
  padding-bottom: 20px;
}

.business-deals-container {
  width: 100%;
  height:100%;
  margin-top: 30px;
}

.stripe.profile-stripe {
  height: 0;
}

.listed-deal {
  height: 33%;
  width: 30%;
  float:left;
  background-size: 100%;
  margin-left: 2.5%;
  margin-bottom: 1.25vw;
  color: white;
  -webkit-box-shadow: -4px 5px 4px 0px rgba(50, 50, 50, 0.20);
  -moz-box-shadow:    -4px 5px 4px 0px rgba(50, 50, 50, 0.20);
  box-shadow:         -4px 5px 4px 0px rgba(50, 50, 50, 0.20)
}

/*************************************
    NEW DEAL FORM (LEFT SIDE)
**************************************/

.profile-new-deals-container {
  height: 100%;
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  margin-top: 50px;
}



.new-deal-form-container {
	font-size: 20px;
	text-align: left;
	height: 100%;
  background-color: #F7F7F7;
  margin: auto;
  width: 66%;
  color: #414141;
  margin-top: 40px;
  border-radius: 5px;
}

.new-deal-form-container form {
  padding-left: 50px;
  margin-top: 20px;
}
.new-deal-form-container h2 {
	text-align: center;
}

.new-form-header-2 {
  background-color: #FFF;
  border-radius: 5px;
}

.new-form-header-2 h2 {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.stripe.profile-stripe {
  height: 0;
  padding-top: 0;
}

.new-deal-field {
	width: 350px;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 12px;
	color: black;
}

.launch-deal-btn {
	background-image: url("launch.png");
	margin-left: 20%;
  margin-bottom: 10px;
	height: 50px;
	width: 200px;
}

#deal-image-uploader {
  margin-bottom: 10px;
}

.biz-name-span {
  color: #D95ABB;
}

.biz-name-deals-header {
  font-size: 25px;
}



/*************************************
              MEDIA QUERIES
**************************************/


  @media (max-width: 700px){

    .profile-new-deals-container {
      display: none;
    }

    .biz-deals {
      width: 100%;
      left: 0;
    }  

     .listed-deal{
      width: 95%;
    }

    .biz-name-deals-header {
      font-size: 23px;
    }

    #special_business_nav {
      display: block;
    }

    #special_business_nav {
      font-size: 10px;
    }

    .nav-biz-mid {
      margin-right: 15px;
      margin-left: 5px;
    }

    .last-in-list {
      margin-right: 10px;
    }

    .header-logo {
      height: 40px;
      width: 100px;
      display: inline-block;
      position: absolute;
      left: 0;
      margin-left: 20px;
      margin-top: 5px;
      background-image: url("small-header-logo.png");
    }

  }

   @media (max-width:900px) and (min-width:700px){
    .listed-deal{
      width: 90%;
    }

     .new-deal-field {
      width: 250px;
    }

    .new-deal-form-container form {
      font-size: 15px;
    }

    .launch-deal-btn {
      margin-left: 10%;
    }

    .new-deal-form-container {
      width: 90%;
    }

    .new-deal-form-container form{
      padding-left: 30px;
    }

    .biz-name-deals-header {
      font-size: 18px;
    }
  }


   @media (max-width:1300px) and (min-width:900px){
    .listed-deal{
      width: 90%;
    }

     .new-deal-field {
      width: 250px;
    }

    .new-deal-form-container form {
      font-size: 17px;
    }

    .launch-deal-btn {
      margin-left: 10%;
    }

    .new-deal-form-container {
      width: 70%;
    }

    .new-deal-form-container form{
      padding-left: 30px;
    }

  }

   @media (max-width:1800px) and (min-width:1300px){
    .listed-deal{
      width: 46%;
    }
  }

  @media (min-width:1800px){
    .listed-deal{
      width: 30%;
    }

  }

	

