body, html{
	margin: 0;
	padding: 0;span.customSelect { 
    font:12px sans-serif;
    background:#fff url(http://i48.tinypic.com/2u7rpec.png) right center no-repeat;
    border:1px solid #ddd;
    color:#555;
    padding:7px 9px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:175px;
}
	height: 100%;
	width: 100%;
}
span.customSelect { 
    font:12px sans-serif;
    background:#fff url(http://i48.tinypic.com/2u7rpec.png) right center no-repeat;
    border:1px solid #ddd;
    color:#555;
    padding:7px 9px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:175px;
}

.categories-container {
	text-align: center;
}

.menu {
	height: 80px;
}

.categories-menu {
	padding: 0;
	margin-top: 0;

}

.categories-menu li {
	list-style: none;
	padding: none;
}

.categories-menu li a {
 	text-decoration: none;
 	display: block;
  	height: 80px;
 }


 /********CATEGORIES********/

#all {
	background-color: #23A2B0;
}

#food_and_drink {
	background-color: #FF666F;
}

#entertainment {
	background-color: #2E5272;
}

#retail {
	background-color: #7954BA;
}

#services {
	background-color: #0E8054;
}

#business {
	background-color: #FF6400;
}