/*.biz-deals {
	height: 100%;
	width: 100%;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
}

.biz-name-deals {
	color: #FFF;
}

.deals-container {
    color: #FFF;
    margin-top: 20px;
    margin-bottom: 60px;
}

.deals-container li {
	display: inline-block;
}

.listed-deal {
	background-color: rgba(70, 70, 70, .5);
	padding: 5px 20px;
	margin-right: 20px;
	margin-top: 15px;
}

.link-to-new-deals {
	text-decoration: none;
	background-image: url("new-deal.png");
	background-repeat: none;
	padding: 15px 100px;
}


*/