/*************************************
              BODY
**************************************/

.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.edit-account-container {
  width: 100%;
  height:100%;
  background-color: red;
}

.full-edit-conatiner{
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  background-color: #F7F7F7;
}


/*************************************
    CANCEL ACCOUNT (RIGHT SIDE)
**************************************/

.right-side-account-leave {
  height: 100%;
  position: absolute;
  left: 55%;
  min-width: 50%;
  background-image: url("cropped-bgimage.jpg");
  background-size: cover;
}

.cancel-container {
	width: 100%;
}

.cancel-account {
	font-size: 20px;
	text-align: left;
	height: 100%;
	background-color: #F7F7F7;
	margin: auto;
	width: 69%;
	color: #414141;
	border-radius: 5px;
	margin-top: 250px;
	padding-top: 50px;
	padding-bottom: 70px;
}

.cancel-account h2 {
	text-align: center;
}

.cancel-account p {
	text-align: center;
}

.cancel-options {
	margin-top: 70px;
	padding: 0;
	text-align: center;
}

.cancel-options ul {
	padding: 0;
}

.cancel-options li {
	display: inline-block;
}

.cancel-options .first {
	font-size: 20px;
	color: #89C7F2;
}

.cancel-options a {
	font-size: 20px;
	color: #89C7F2;
	text-decoration: none;
	margin-left: 20px;
}

.cancel-options .first:hover {
	color: #DA5ABB;
}

.cancel-options a:hover {
	color: #DA5ABB;
}

.cancel-btn{
	border: none;
	background-color: transparent;
}

.cancel-btn:hover {
	cursor: pointer;
}

/*************************************
   EDIT ACCOUNT (LEFT SIDE)
**************************************/

.edit-account{
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  right: 45%;
  top: 0;
  background-color: #A6C4CB;
}

.left-side-account-edit {
  	font-size: 20px;
	text-align: left;
	height: 100%;
	background-color: #F7F7F7;
	margin: auto;
	width: 66%;
	color: #414141;
	border-radius: 5px;
	padding-top: 10px;
	margin-top: 100px;
	padding-bottom: 10px;
	margin-bottom: 50px;
	border: solid 1px #dadada;
}

.left-side-account-edit h2 {
	text-align: left;
	margin-left: 25%;
	color: #414141;
}

.edit-account-form {
	margin-left: 50px;
	color: #414141;
}

.edit-account-field {
	width: 350px;
	height: 20px;
	margin-bottom: 20px;
	margin-top: 5px;
	font-size: 12px;
	color: black;
}

.update-account-btn {
	margin-top: 20px;
	text-align: center;
	background-image: url("update-btn.png");
	margin-left: 15%;
	height: 50px;
	width: 200px;
}

/*************************************
              MEDIA QUERIES
**************************************/


  @media (max-width: 700px){

  	.right-side-account-leave {
  		display: none;
  	}

  	.edit-account{
  	  right: 0;
  	}

  	.left-side-account-edit {
  		width: 90%;
  		padding-bottom: 70px;
  	}

  	.edit-account-field {
  		width: 280px;
  	}

  	.edit-account-form label {
  		font-size: 15px;
  	} 

  	.left-side-account-edit h2 {
  		font-size: 25px;
  	}	



  }

   @media (max-width:900px) and (min-width:700px){

   	   	.cancel-account {
   			padding-top: 15px;
   			padding-bottom: 30px;
   			width: 85%;
   			margin-left: 10px;
   	   	}

   	   	.cancel-account h2 {
   	   		font-size: 20px;
   	   	}

   	   	.cancel-options .first {
   	   		font-size: 18px;
   	   	}

   	   	.cancel-options a {
   	   		font-size: 18px;
   	   		margin-left: 10px;
   	   	}  


   	   	.left-side-account-edit {
   	   		width: 90%;
   	   		padding-bottom: 70px;
   	   	}

   	   	.edit-account-field {
   	   		width: 280px;
   	   	}

   	   	.edit-account-form label {
   	   		font-size: 15px;
   	   	} 

   	   	.left-side-account-edit h2 {
   	   		font-size: 25px;
   	   	}	

  }


   @media (max-width:1300px) and (min-width:900px){
 
	   	.cancel-account {
			padding-top: 15px;
			padding-bottom: 30px;
			width: 78%;
			margin-left: 20px;
	   	}

	   	.cancel-account h2 {
	   		font-size: 25px;
	   	}


	   	.left-side-account-edit {
	   		width: 77%;
	   		padding-bottom: 130px;
	   	}

	   	.edit-account-field {
	   		width: 300px;
	   	}

  }

   @media (max-width:1800px) and (min-width:1300px){

   
    
  }

  @media (min-width:1800px){
    

  }



