/*************************************
              BODY
**************************************/

.body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.edit-account-container {
  width: 100%;
  height:100%;
  /*background-color: #F7F7F7;*/
  background-color: red;
}

.full-edit-conatiner{
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  background-color: green;
  /*background-image: url("bg.jpg");*/
}


/*************************************
    DEALS LISTINGS (RIGHT SIDE)
**************************************/

.right-side-account-leave {
  height: 100%;
  position: absolute;
  left: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  min-width: 50%;
  /*background-color: yellow;*/
  background-image: url("bg.jpg");
}

.cancel-account {
	margin-top: 30%;
	margin-left: 20%;
	color: #414141;
}




/*.edit-account {
	float: left;
	color: #FFF;
	margin-left: 20%;
	margin-top: 2%;
}

.edit-account-form {

	font-size: 20px;
	text-align: left;

}

.edit-account-field {
	width: 350px;
	height: 20px;
	margin-top: 8px;
	font-size: 12px;
	color: black;
}

.update-account-btn {
	margin-top: 20px;
	text-align: center;
	background-image: url("update-btn.png");
	margin-left: 10%;
	height: 50px;
	width: 200px;
}

.cancel-account {
	color: #FFF;
	margin-top: 20%;
}

.cancel-options {
	margin-top: 20px;
}

.cancel-options li {
	display: inline-block;
}

.cancel-options .first {
	margin-right: 50px;
}

.cancel-options a {
	font-size: 10px;
	padding: 19px 70px;	
	background-image: url("keep-account.png");
}

.cancel-btn{
	border: none;
	background-color: transparent; 
	background-image: url("delete-account.png"); 
	padding: 20px 70px;	
	font-size: 10px;
}

.cancel-btn:hover {
	cursor: pointer;
}*/