.forgotten-password {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	text-align: left;
	margin-left: 35%;
	margin-top: 10%;
	font-size: 20px;
}

.forgotten-field {
	width: 350px;
	height: 20px;
	margin-top: 8px;
}

.forgotten-btn {
	margin-top: 10px;
	text-align: center;
	background-image: url("forgotten.png");
	margin-left: 8%;
	height: 50px;
	width: 200px;
}