.map-canvas-container h2{
  color: white;
}

.full-show-container{
  width: 100%;
  height:100%;


}
/**************Right Side************/
.categories-full-right-pane{

  width: 50%;
  height: 100%;
  float: left;
  background-color: red;
}

.categories-right-pane-header{
  height: 15%;
  width: 100%;
}

.deal-display-container{
  width: 100%;
  height:100%;
}

.deal-display-element{
  height: 20%;
  width: 30%;
  float:left;
  background-image: url(ekim.png);
  background-size: 100%;
  margin-left: 2.5%;
  margin-bottom: 1.25vw;
  color: white;

}
/*************Left Side ***************/
.map-canvas-container{
  width: 50%;
  height: 100%;
  background-color: blue;
  float: left;
}
/************* Nav Bar************************/
.map-view-navbar{
  height: 10%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  z-index: 2;
}


.map-view-navbar li{
  margin-right: 7%;
  list-style: none;
  display: inline-block;
}

#radius{
  margin-top: 10px;
}

.map-view-navbar h2{
  color: white;
}

/**********************************************/

#map-canvas{
  height: 100%;
  width: 100%;
}

#popup_deal{
  display: inline-block;
  text-align: left;
  height: 120px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#popup_deal {
  color: white;
}

#popup_deal h4 {
  margin: 0;
}

#deal_image {
  float: left;
  content: url(ekim.png);
  height: 100%;
  margin-right: 5px;

}

#nav_bottom{
  position: absolute;
  bottom: 0px;
  width: 50%;
  }

  @media (max-width: 700px){
    .categories-full-right-pane{
      display: none;
    }
    .map-canvas-container{
      width: 100%;
    }
    #nav_bottom{
      width: 100%
    }
    .map-view-navbar{
      width: 100%
    }
  }

  @media (max-width: 1600px){
    .deal-display-element{
      width: 46%;
    }
  }

   @media (max-width: 980px){
    .deal-display-element{
      width: 95%;
    }
  }










