/*span.kustomSelect { 
    font:16px sans-serif;
    background: white url(http://i48.tinypic.com/2u7rpec.png) right center no-repeat;
    border:1px solid #ddd;
    color:#31B4F5;
    padding:12px 9px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width:20%;
}
.kustomSelect.kustomSelectHover {
    border-color:#c7c7c7;
    background-color:#f5f5f5;
}
.kustomSelect.kustomSelectFocus {
    border-color:#31B4F5;
}
.kustomSelect.kustomSelectOpen {
    border-color:OliveDrab;
}

.kustomSelect.kustomSelectChanged {
	-webkit-animation: changed 0.5s;
	-moz-animation: changed 0.5s;
	-ms-animation: changed 0.5s;
	animation: changed 0.5s;
}

@-webkit-keyframes changed {
	0%, 100%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50%{
		-webkit-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}

@-moz-keyframes changed {
	0%, 100%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50%{
		-moz-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}

@keyframes changed {
	0%, 100%{
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50% {
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}
@-ms-keyframes changed {
	0%, 100%{
		-ms-box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow:0px 0px 14px 5px rgba(151, 67, 159, 0);
	}
	50% {
		-ms-box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0);
		box-shadow: 0px 0px 14px 5px rgba(151, 67, 159, 0.5);
	}
}
*/