/*body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  color: white;
}

html, body, #map-canvas {
    margin: 0px;
    padding: 0px
}

.container{
  height: 480px;
  width: 320px;
  margin: auto;
}



/*****navbar*****/

/*app_body {
  position: absolute;
}

#navbar {
  height: 50px;
  width: 320px;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

ul#navbar {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

ul#navbar li {
  margin-right: 7%;
  list-style: none;
  display: inline-block;
}

#home, #radius {
  margin-top: 10px;
}

/*****BODY*****/
/*
#map_canvas {
  position: relative;
  z-index: -1;
}
*/
/*#popup_deal {
  display: inline-block;
  text-align: left;
    height: 80px;
    width: 320px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

#deal_image {
  float: left;
  content: url(ekim.png);
  height: 80px;
  width: 80px;
  margin-right: 5px;

}

#nav_bottom {
  position: absolute;
  bottom: 0px;
}

#popup_deal h4 {
  font-size: 20px;
  margin: 0;
}
*//*/
