/*#map-canvas {
   	margin: 0em;
   	padding: 0em;
}

.container{
	height: 100%;
	width: 100%;

}

#map_left {
	background-color: purple;
}

#deal_right {
	background-color: red;
}*/

/*****CATEGORIES*****



/* XSMALL/SMALLPHONE  ≥ 200px	.pure-u-xsm-**/
/*@media screen and (min-width: 12.5em){
	.pure-g {
		background-color: purple;
	}

	#map{
		display: none;
	}

	body {
		font-size: 1em;
		color: black;


	}

	.menu > div {
		height: 16%;
		width: 100%;
	}

}


/* SMALL/BIGGERPHONE  ≥ 568px	.pure-u-sm-**/
/*@media screen and (min-width: 35.5em){

	.pure-g {
		background-color: blue;
	}

	#map{
		display: none;
	}

	.menu > div {
		height: 16%;
		width: 100%;
	}

}
*/


/* MEDIUM/TABLET  ≥ 768px	.pure-u-md-**/
/*@media screen and (min-width: 48em){	
	.pure-g {
		background-color: orange;
	}

	#map{
		display: inline;
	}

	.app_body ul#navbar{
		display: none;
	}

}

 LARGE/DESKTOP ≥ 1024px	.pure-u-lg-*
@media screen and (min-width: 64em){	
	.pure-g {
		background-color: yellow;
	}

	#map{
		display: inline;
	}

	.app_body ul#navbar{
		display: none;
	}
}*/

/* X-LARGE/CINEMA  ≥ 1280px	.pure-u-xl-**/
/*@media screen and (min-width: 80em){
	.pure-g {
		background-color: green;
	}
	#map{
		display: inline;
		background-color: red;
	}

	.app_body ul#navbar{
		display: none;
	}

}

#all {
	background-color: #23A2B0;
}

#food_and_drink {
	background-color: #FF666F;
}

#entertainment {
	background-color: #2E5272;
}

#retail {
	background-color: #7954BA;
}

#services {
	background-color: #0E8054;
}

#business {
	background-color: #FF6400;
}

.pure-g{
	text-align: center;
}*/

/*****NAVBAR*****/



/*
#navbar {
	height: 3.125em;
	width: 20.00em;
	position: absolute;
	top: 0em;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 2;
}

ul#navbar {
	margin: 0em;
	padding: 0em;
	text-align: center;
}

ul#navbar li {
	font-size: 0.7em;
	margin-right: 2%;
	list-style: none;
	display: inline-block;
}

#home, #radius {
	margin-top: 0.625em;
}
*/
/*****BODY*****/


/*#popup_deal {
	display: block;
	text-align: left;
    height: 5.00em;
    width: 20.00em;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

#deal_image {
	float: left;
	content: url(../img/ekim.png);
	height: 5.00em;
	width: 5.00em;
	margin-right: 0.313em;

}

#nav_bottom {
	position: absolute;
	bottom: 0em;
}*/