html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.sign-up-login-container {
	height: 100%;
	width: 100%;
	background-image: url("bgimage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
	font-family: 'Open Sans', sans-serif;
	padding-top: 20px;
}


.sign-up-form-container {
  font-size: 20px;
  text-align: center;
  height: 100%;
  background-color: #F7F7F7;
  margin: auto;
  width: 40%;
  color: #414141;
  margin-top: 40px;
  border-radius: 5px;
  margin-top: 80px;
  padding-top: 20px;
}

.sign-up-login-field {
	width: 350px;
	height: 20px;
	margin-top: 8px;
	font-size: 12px;
	color: black;
}

.address-field {
	height: 60px;
}

.sign-up-btn {
	text-align: center;
	background-image: url("sign-up.png");
	height: 50px;
	width: 100px;
  margin-left: 40%;
  margin-bottom: 10px;
}

.no-style {
	background: none;
	border: none;
	height: 100%;
	width: 100%;
}

.no-style:hover {
	cursor: pointer;
}




/*************************************
              MEDIA QUERIES
**************************************/


  @media (max-width: 584px){
  	.sign-up-form-container {
  		margin-left: 15%;
  	}

  }

   @media (max-width:980px) and (min-width:584px){
   	.sign-up-form-container {
   		margin-left: 20%;
   	}
  }

   @media (max-width:1200px) and (min-width:980px){
    .sign-up-form-container {
    	margin-left: 25%;
    }
  }




