<script type="javascript/text">
  google.maps.event.addDomListener(window, 'load', App.start);
</script>

<div class= "full-show-container">
    <div class="map-canvas-container">

        <ul class="map-view-navbar">
        <li><img src="/assets/home_icon.png"  id="home"></li>
        <li><h2>Food & Drink</h2></li>
        <li><img src="/assets/radius.png" id="radius"></li>
      </ul>
      <div id="map-canvas"></div>
      <div id="nav_bottom"></div>
    </div>

    <div class="categories-full-right-pane">
      <div class="categories-right-pane-header">
        <h1><%= @category.name %></h1>
      </div>
      <div class="deal-display-container">
        <% @deals.each do |deal| %>
        <div class="deal-display-element">
          <h2><%= deal.title %></h2>
          <h4><%= deal.description %></h4>
          <h4><%= deal.finish_time %></h4>
        </div>
        <% end %>

      </div>
    </div>
</div>


