<!-- <div class="categories-container">
	<ul class="categories-menu">
		<div class="menu" id="all"><li> <a href="#">All </a></li></div>

		<% @categories.each do |category| %>
			<div class="menu" id= <%=category.name.downcase.tr(' ', '_')%>>
				<li><%= link_to category.name, category_path(category) %> </li>
			</div>
		<% end %>

		<div class="menu" id="business"><li><a href="#"> Business? </a></li></div>
	</ul>
</div> -->

<div class="pure-g" id="categories">
	<div class="pure-u-md-1-2" id="map">
		<div id="map">
			<div class="app-body">
				<ul id="navbar">
					<li><img src="img/home_icon.png"  id="home"></li>
					<li><h2>Food&nbsp;&amp;&nbsp;Drink
					</h2></li>
					<li><img src="img/radius.png" id="radius"></li>
				</ul>
				<div class="container" id="map-canvas"></div>

				<div id="nav_bottom"></div>
			</div>
		</div>
	</div>

	
	<div class="pure-u-md-1-2 pure-u-1">
		<div class="pure-u-md-1-8 pure-u-sm-1" id="all">A</div>
		<div class=" pure-u-md-1-8 pure-u-sm-1" id="food_and_drink">F</div>
		<div class=" pure-u-md-1-8 pure-u-sm-1" id="entertainment">E</div>
		<div class=" pure-u-md-1-8 pure-u-sm-1" id="retail">R</div>
		<div class="pure-u-md-1-8 pure-u-sm-1" id="services">S</div>
		<div class="pure-u-md-1-8 pure-u-sm-1" id="business">B</div>
	</div>
</div>